
.app-flex-col-container.app-flex-col-container {
  display: flex;
  flex-direction: column;
  background-color: #ebebed;
  padding: 0;
  .flex-col-content {
    padding: 10px;
    width: 100%;
    flex: 1;
    background: #fff;
    overflow: auto;
  }
  .flex-content {
    padding: 10px;
    width: 100%;
    flex: 1;
    background: #fff;
    overflow: hidden;
  }
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 60px;
    background: #fff;
    top: 10px;
    .el-button.el-button {
      margin-left: 15px;
    }
  }
}
.head-container {
  padding-bottom: 15px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
  .el-form {
    padding: 0;
    .el-form-item {
      margin-bottom: 0;
    }
  }
  input {
    height: 30.5px;
    line-height: 30.5px;
  }

  .el-input__icon,
  .el-input-group__append {
    line-height: 31px;
  }
  ::v-deep.el-range-editor.el-input__inner {
    height: 30.5px;
    line-height: 30.5px;
    .el-range-separator {
      height: 30.5px;
      line-height: 30.5px;
    }
    .el-input__icon {
      height: 30.5px;
      line-height: 30.5px;
    }
  }
  .el-button {
    margin: 0;
    margin-bottom: 10px;
  }
}